<div>
    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-text">ADD TYPE ACCESS</h4>
           
            <div class="row m-2">
                <div class="col-3 text-right gap-top5">
                    <h5>Title</h5>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" [(ngModel)]="typeAccess.title">
                </div>
            </div>
            <div class="row m-2" *ngFor="let permission of permissions">
                <div class="col-3 text-right">
                    <h5>{{permission.title}}</h5>
                </div>
                <div class="col-9">
                    <td class="text-center">
                        <label>
                            <input [(ngModel)]="permission.enable" type="checkbox" class="gap-top5"> Yes</label>
                    </td>
                </div>
            </div>
            <div class="row m-2">
                    <div class="col-6 offset-6 text-right">
                        <input type="button" value="INSERT" class="btn btn-primary form-control"
                            (click)="insertTypeAccess()">
                    </div>
                </div>
        </div>
    </div>
</div>