<div class="container-fluid">
   <div class="card m-2">
      <div class="card-body">
         <h4 class="card-text">TYPE ACCESS</h4>
         <div class="row m-2">
            <div class="col-6 offset-6 text-right">
               <input type="button" value="ADD" class="btn btn-primary form-control" routerLink="/admin/type-access/add">
            </div>
         </div>
         <div class="row m-2">
            xx
         </div>
         <div class="row m-2">

         </div>
      </div>
   </div>
</div>