<div class="container-fluid">
  <div class="card m-2">
    <div class="card-body">
      <h4 class="card-text">Select</h4>
      <hr/>
      <div class="row m-2">
        <div class="col-12">
          <table class="table table-striped table-horvered">
            <thead>
              <tr>
                <th>Description</th>
                <th>_id</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rule of rules; let i = index">
                <td>{{rule.description}}</td>
                <td>{{rule._id}}</td>
                <td>
                  <input type="button" value="TEST" class="btn btn-primary form-control" (click)="addValidator(i)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-2">
    <div class="card-body">
      <h4 class="card-text">Lista</h4>

      <div class="row m-2" *ngIf="rule.fields != undefined">
        <div class="col-12">
          	<div class="row">
              <div class="col-4 text-left" *ngIf="resultDokia != undefined"><h5>Result Dokia</h5></div>
              <div class="col-2"><h4>{{resultDokia}}</h4></div>
            </div>
            <div class="row">
              <div class="col-4 text-left" *ngIf="resultPercentageImportant != undefined"><h5>Result Percentage Important</h5></div>
              <div class="col-2"><h4>{{resultPercentageImportant}}</h4></div>
            </div>
            <div class="row">
              <div class="col-4 text-left" *ngIf="importantAcceptancePercentage != undefined"><h5>Important Acceptance Percentage</h5></div>
              <div class="col-2"><h4>{{importantAcceptancePercentage}}</h4></div>
            </div>
            <div class="row">
              <div class="col-4 text-left" *ngIf="resultPercentage != undefined"><h5>Result Percentage</h5></div>
              <div class="col-2"><h4>{{resultPercentage}}</h4></div>
            </div>
            <div class="row">
              <div class="col-4 text-left" *ngIf="acceptancePercentage != undefined"><h5>Acceptance Percentage</h5></div>
              <div class="col-2"><h4>{{acceptancePercentage}}</h4></div>
            </div>

        </div>
      </div>


      <div class="row m-2">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-horvered table-striped ">
              <thead>
                <tr>
                  <th>Titile</th>
                  <th>Model</th>
                  <th>Value</th>
                  <th>Type</th>
                  <th>Other ID</th>
                  <th>Model ID</th>
                  <th>Percentage</th>
                  <th>Percentage Obtained</th>
                  <th>Result</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let field of rule.fields; let i = index;" [ngClass]="[field.result == 'true' ? 'table-success' : '']">
                  <td class="success">{{field.title}}</td>

                  <td>{{field.titleModel}}</td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="field.value">
                  </td>
                  <td>{{field.titleType}}</td>
                  <td>{{field.titleId}}</td>
                  <td>{{field.titleModelId}}</td>
                  <td>{{field.percentage == 100 || field.percentage == 0 || field.percentage == undefined ? '' : field.percentage
                    + '%'}}</td>
                  <td>{{field.percentageResult == undefined || field.percentageResult == 0 ? '' : field.percentageResult + '%'}}</td>
                  <td>{{field.result}}</td>
                  <td>
                    <i *ngIf="field.result == 'true' && field.value != '' && field.value != undefined && field.titleType != 'Nenhum'" class="fa fa-2x fa-check"></i>
                    <i *ngIf="field.result == 'false' && field.value != '' && field.value != undefined && field.titleType != 'Nenhum'" class="fa fa-2x fa-times"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row m-2">
        <div class="col-6 offset-3">
          <input type="button" class="btn btn-primary form-control" value="VALIDATOR" (click)="validator()" />
        </div>
      </div>
    </div>
  </div>
  <!-- COLOCAR MODAL -->
</div>