<section class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " routerLink="/type" routerLinkActive="active">Type</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/model" routerLinkActive="active">Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/field" routerLinkActive="active">Field</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rule" routerLinkActive="active">Rule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/validator" routerLinkActive="active">Validator</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>    
  </section>    