<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLinkActive="active" routerLink="/validator">Dok.IA Rules</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/type">Type</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/model">Model</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/field">Field</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/rule">Rule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/validator">Validator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/tickets">Tickets</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
      <strong class=" mr-sm-2 white">Last update {{lastSync}}</strong>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="sync();">Sync</button>
  </form>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>

  <div class="holder" [hidden]="count == 0">

    <div class="loader-wrapper">
      <div class="loader">
        <div class="roller"></div>
        <div class="roller"></div>
      </div>

      <div id="loader2" class="loader">
        <div class="roller"></div>
        <div class="roller"></div>
      </div>

      <div id="loader3" class="loader">
        <div class="roller"></div>
        <div class="roller"></div>
      </div>
    </div>
  </div>
</div>